<h3>Active Curriculums</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <!--<th>Description</th> -->
      <th>Ratings</th>
      <th>Times Used</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @active_curriculums.each do |curriculum| %>
      <tr>
    <td><%= link_to curriculum.name, curriculum_path(curriculum) %></td>
    <td><%= curriculum.min_rating.zero? ? "Unrated" : curriculum.min_rating %> - <%= curriculum.max_rating %></td>
    <td><%= curriculum.camps.size %></td>
    <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
  </tr>
    <% end %>
  </tbody>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @active_curriculums, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>