<p>
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @curriculum.name %>
</p>

<p>
<strong>Description:&nbsp;&nbsp;</strong>
  <%= @curriculum.description %>
</p>

<p>
<strong>Ratings Range:&nbsp;&nbsp;</strong> 
  <%= @curriculum.min_rating.zero? ? "Unrated" : @curriculum.min_rating %> - <%= @curriculum.max_rating %>
</p>
<% if logged_in? %>
<p>
<strong>Active?&nbsp;&nbsp;</strong>
  <%= @curriculum.active ? "Yes" : "No" %>
</p>
<%end%>


