  <%= simple_form_for @curriculum, html: { class: 'form-horizontal' } do |f| %>
  <% if @curriculum.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@curriculum.errors.count, "error") %> prohibited this curriculum from being saved:</h3>
      <ul>
      <% @curriculum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
      <legend></legend>
       <div class="row">
        <div class="small-6 columns">
          <%= f.input :name %>
        </div>
       </div>
        <div class="row">
         <div class="small-12 columns">
           <%=f.input :description, as: :text%>
         </div>
       </div>
       <div class="row">
         <div class="small-6 columns">
          <%= f.input :min_rating %>
         </div>
         <div class="small-6 columns">
          <%= f.input :max_rating %>
         </div>
      </div>
        <%= f.input :active, as: :radio_buttons%>
    </fieldset>
    <div class="form-actions" >
      <div class="row">
        <div class="small-3 columns">
        <%= link_to 'Back', curriculums_path,class:"button"%>
        </div>
        <div class="small-3 columns">
          <div id="right_button">
        <%= f.submit nil, class: 'button'%>
      </div>
      </div>
    </div>
    </div>
  <% end %>