<div id ="pic1">
  <div class="row">
   <div class ="small-6 colums">
    <h1>Curriculums</h1>
    </div>
  </div>
</div>
  <% flash.each do |name, msg| %>
    <div class="alert-box <%= :notice ? "success" : "warning" %> radius">
      <a href="#" class="close">&times;</a>
      <%= msg %>
    </div>
  <% end %>
</br>

<div class="row">
  <div class="small-8 columns">
    <h3>Active Curriculums</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <!--<th>Description</th> -->
      <th>Ratings</th>
      <th>Times Used</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr>
        <td><%=link_to curriculum.name, curriculum_path(curriculum)%></td>
        <td><%= curriculum.min_rating!=0 ? "#{curriculum.min_rating} - #{curriculum.max_rating}" : "Unrated - #{curriculum.max_rating}"%></td>
        <td><%=curriculum.camps.size%></td>
        <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Curriculum', new_curriculum_path,class:"button"%>
</div>
  <div class="small-4 columns">
    <h3>Inactive Curriculums</h3>
    <table>
      <thead>
        <tr>
        <th>Curriculum Name</th>
        </tr>
      </thead>
      <tbody>
        <%@inactive_curriculums.each do |a|%>
        <tr>
          <td><%= link_to a.name,curriculum_path(a) %></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>



