<p>
<strong>First Name:&nbsp;&nbsp;</strong> 
  <%= @student.first_name%>
</p>

<p>
<strong>Family Name:</strong>
  <%= link_to @student.last_name, family_path(@student.family) %>
  </p>
<p>
<strong>Birthday:</strong> 
  <%= "- #{@student.date_of_birth.strftime('%m/%d/%y')}" %>
</p>
<p>
<strong>Rating:&nbsp;&nbsp;</strong> 
  <%= @student.rating %>
</p>
<p>
<strong>Active?&nbsp;&nbsp;</strong>
  <%= @student.active ? "Yes" : "No" %>
</p>
