<p>
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= link_to @camp.name, curriculum_path(@camp.curriculum) %>
</p>
<p>
<strong>Cost:&nbsp;&nbsp;</strong> 
  <%= number_to_currency(@camp.cost) %>
</p>
<p>
<strong>Max Students:&nbsp;&nbsp;</strong> 
  <%= @camp.max_students %>
</p>
<p>
<strong>Dates:&nbsp;&nbsp;</strong> 
  <%= @camp.start_date.strftime('%m/%d/%y') %> 
  <% if @camp.start_date != @camp.end_date %>
    <%= "- #{@camp.end_date.strftime('%m/%d/%y')}" %>
  <% end %>
</p>
<p>
<strong>Time:&nbsp;&nbsp;</strong> 
  <%= @camp.time_slot == "am" ? "Morning" : "Afternoon" %>
</p>

<p>
<strong>Location:&nbsp;&nbsp;</strong> 
  <%= link_to @camp.location.name, location_path(@camp.location) %>
</p>
<p>
<strong>Active?&nbsp;&nbsp;</strong>
  <%= @camp.active ? "Yes" : "No" %>
</p>

<div id="dialog" title="Financial Report">
  <ul class="pricing-table">
    <li class="title">Payment Received</li>
    <%@camp.registrations.paid.each do |reg| %>
    <li class="bullet-item"><%=reg.student.name%></li>
    <%end%>
    <li class="price">Subtotal $<%=@camp.registrations.paid.count*@camp.cost%></li>
    <li class="title">Payment Due</li>
    <%@camp.registrations.deposit_only.each do |reg| %>
    <li class="bullet-item"><%=reg.student.name%></li>
    <%end%>
    <li class="price">Subtotal $<%=@camp.registrations.deposit_only.count*@camp.cost%></li>
    <p>-------------------------------------------------</p>
     <li class="price">Total $<%=@camp.registrations.count*@camp.cost%></li>
</ul>
</div>
 
<button id="opener">Financial Report</button>