<% unless @instructors.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel-sid">
    <h5>Camp Instructors</h5>
    <ul>
      <% @instructors.each do |instructor| %>
        <li><%= link_to instructor.name, instructor_path(instructor) %></li>
      <% end %>
    </ul>

<% else %>
  <div class="panel clearfix">
    <h5>No Instructors</h5>
  </div>
<% end %>
</div>

</br>
<% unless @camp.registrations.empty? %>

<h5>Registrations (<%=@regs.count%>)</h5>
<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Rating</th>
      <th>Age</th>
      <% if logged_in? && current_user.role == "admin" %>
      <th>Edit</th>
      <th>Destroy</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @regs.each do |reg| %>
      <tr>
        <% if logged_in? %>
        <td><%= link_to reg.student.name, student_path(reg.student) %></td>
        <% else %>
        <td><%= reg.student.name %></td>
        <%end%>
        <td><%= reg.student.rating==0 ? "Unrated" : reg.student.rating%></td>
        <td><%= reg.student.age%></td>
        <% if logged_in? && current_user.role == "admin" %>
          <td><%= link_to(edit_registration_path(reg), :camp_id=>@camp.id, class: 'button tiny radius') do%>Edit</td>
        <% end %>
        <td><%= link_to(registration_path(reg), method: 'delete', data: { confirm: "Are you sure you want to destroy this registration?" }, class: 'button tiny radius alert') do %>
            &nbsp;Destroy</td>
            <%end%>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if logged_in? && current_user.role == "admin" %>

<div class="row">
  <div class="small-8 columns">
    &nbsp;
  </div>
  <div class="small-4 columns">
 <%= link_to 'Add registration ', new_registration_path(:id => @camp.id),class:"button tiny radius primary"%> 
</div>
</div>
<%end%>
<%end%>