 <%= simple_form_for @camp, html: { class: 'form-horizontal' } do |f| %>
  <% if @camp.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@camp.errors.count, "error") %> prohibited this camp from being saved:</h3>
      <ul>
      <% @camp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
      <legend></legend>
       <div class="row">
        <div class="small-6 columns">
          <%= f.association :curriculum, collection: Curriculum.active.alphabetical, as: :select %>
        </div>
          <div class="small-6 columns">
          <%= f.input :cost, as: :integer %>
        </div>
        </div>
        <div class="row">
         <div class="small-6 columns">
           <%= f.label:"Time Slot"%>
           <%= f.select :time_slot, [['Morning','am'],['Afternoon','pm']], as: :select%>
         </div>
         <div class="small-6 columns">
          <%= f.input :max_students,as: :integer %>
         </div>
        </div>

        
        <div class="row">
          <%if(controller.action_name == 'edit') %>
          <div class="small-6 columns">
            <%=f.association :instructors, collection: Instructor.active.alphabetical ,as: :check_boxes%>
          </div>
         
         <%end %>
        
        <div class="small-6 columns">
        <%= f.input :start_date, as: :date,order: [:month, :day, :year]%>
        <%= f.input :end_date, as: :date,order: [:month, :day, :year]%>
        
        <%= f.input :active, as: :radio_buttons%>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="small-3 columns">
        <%= link_to 'Back', camps_path,class:"button"%>
      </div>
      <div class="form-actions" id="right_button" >
        <div class="small-3 columns">
        <%= f.submit nil, class: 'button'%>
        <% end %>
      </div>
     </div>
    </div>