<div id ="pic1">
  <div class="row">
   <div class ="small-6 colums">
    <h1>Camps</h1>
    </div>
  </div>
</div>
  <% flash.each do |name, msg| %>
    <div class="alert-box <%= :notice ? "success" : "warning" %> radius">
      <a href="#" class="close">&times;</a>
      <%= msg %>
    </div>
  <% end %>
</br>

<div class="row">
  <div class="small-8 columns">
    <h3>Upcoming Camps</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Time slot</th>
      <th>Max students</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @upcoming_camps.each do |camp| %>
      <tr>
        <td><%= link_to camp.name,camp_path(camp) %></td>
        <td><%= camp.start_date.strftime('%m/%d/%y') %></td>
        <td><%= camp.time_slot=="am" ? "Morning" : "Afternoon" %></td>
        <td><%= camp.max_students %></td>
        <td><%= link_to 'Edit', edit_camp_path(camp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Past Camps</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Time slot</th>
      <th>Max students</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @past_camps.each do |camp| %>
      <tr>
        <td><%= link_to camp.name,camp_path(camp) %></td>
        <td><%= camp.start_date.strftime('%m/%d/%y') %></td>
        <td><%= camp.time_slot=="am" ? "Morning" : "Afternoon" %></td>
        <td><%= camp.max_students %></td>
        <td><%= link_to 'Edit', edit_camp_path(camp) %></td>
      </tr>
    <% end %>  
  </tbody>
</table>
</br>
<%= link_to 'New Camp', new_camp_path,class:"button"%>
</div>
  <div class="small-4 columns">
    <h3>Inactive Camps</h3>
    <table>

      <thead>
        <tr>
        <th>Camp Name</th>
        <th>Start Date</th>
        </tr>
      </thead>
      <tbody>
        <%@inactive_camps.each do |camp|%>
        <tr>
          <td><%= link_to camp.name,camp_path(camp) %></td>
          <td><%= camp.start_date.strftime('%m/%d/%y') %></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>



