<p>
<strong>Family Name:&nbsp;&nbsp;</strong> 
  <%= @family.family_name%>
</p>

<p>
<strong>Parent First Name: </strong>
  <%= @family.parent_first_name %>
  </p>
<p>
<strong>Phone:&nbsp;&nbsp;</strong> 
  <%= number_to_phone(@family.phone) %>
</p>
<p>
<strong>Email:&nbsp;&nbsp;</strong> 
  <%= mail_to @family.email, @family.email, encode: "javascript" %>
</p>
<p>
<strong>Active?&nbsp;&nbsp;</strong>
  <%= @family.active ? "Yes" : "No" %>
</p>

<div id="dialog" title="Financial Report">
  <ul class="pricing-table">
    <li class="title">Payment Received</li>
    <%@family.registrations.paid.each do |reg| %>
    <li class="bullet-item"><%=reg.student.name%></br><%=reg.camp.name%> ($<%=reg.camp.cost%>)</li>
    <%end%>
    <li class="price">Subtotal $<%=@family.registrations.paid.map { |e| e.camp.cost }.sum%></li>
    <li class="title">Payment Due</li>
    <%@family.registrations.deposit_only.each do |reg| %>
    <li class="bullet-item"><%=reg.student.name%></br><%=reg.camp.name%> ($<%=reg.camp.cost%>)</li>
    <%end%>
    <li class="price">Subtotal $<%=@family.registrations.deposit_only.map { |e| e.camp.cost }.sum%></li>
    <p>-------------------------------------------------</p>
     <li class="price">Total $<%=@family.registrations.map { |e| e.camp.cost }.sum%></li>
</ul>
</div>
 
<button id="opener">Financial Report</button>
