<h3>Active Instructors</h3>

<table >
  <thead>
  <tr>
    <th width="200">Name</th>
    <th width="200">Phone</th>
    <th width="100">Camps</th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @active_instructors.each do |instructor| %>
  <tr>
    <td><%= link_to instructor.name, instructor_path(instructor) %></td>
    <td><%= number_to_phone instructor.phone %></td>
    <td><%= instructor.camps.size %></td>
    <td><%= link_to 'Edit', edit_instructor_path(instructor)%></td>
  </tr>
<% end %>
</tbody>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @active_instructors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
