<%= simple_nested_form_for @instructor, :html => { :class => 'form-horizontal' } do |instructor_form| %>
    <div class="row">
        <div class="small-7 columns">
            <fieldset>
            <legend><%= controller.action_name.capitalize %> Project</legend>
                    <%= render "instructor_fields", :f => instructor_form %>
          </fieldset>
        </div>
        <div class="small-5 columns">
            <legend>Add some users to this instructor</legend>
            <div id="instructor_users">
                <%= instructor_form.simple_fields_for :user do |user_form| %>
                    <%= render "user_fields", :f => user_form %>
                <% end %> <!-- end of one users form -->
            </div> <!-- end of instructor_users div -->
        </div>
    </div>
    <div class="form-actions">
    <%= instructor_form.submit nil, class: 'button radius' %>
    <%= link_to 'Cancel', instructors_path, class: 'button alert radius' %>
  </div>
<% end %>