  <%= simple_form_for @instructor, html: { class: 'form-horizontal' } do |f| %>
  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h3>
      <ul>
      <% @instructor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset>
      <legend></legend>
       <div class="row">
        <div class="small-6 columns">
          <%= f.input :first_name %>
        </div>
          <div class="small-6 columns">
          <%= f.input :last_name %>
        </div>
        </div>
        <div class="row">
         <div class="small-12 columns">
           <%=f.input :bio, as: :text%>
         </div>
       </div>
       <div class="row">
         <div class="small-6 columns">
          <%= f.input :phone %>
         </div>
         <div class="small-6 columns">
          <%= f.input :email %>
         </div>
      </div>
        <%= f.input :active, as: :radio_buttons%>
    </fieldset>
        <div class="form-actions" >
      <div class="row">
        <div class="small-3 columns">
        <%= link_to 'Back', instructors_path,class:"button"%>
        </div>
        <div class="small-3 columns">
          <div id="right_button">
        <%= f.submit nil, class: 'button'%>
      </div>
      </div>
    </div>
    </div>
  <% end %>