<%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone, as: :string %>
    <%= f.input :email %>
    <%= f.input :bio, input_html: { rows: 6 } %>
    <%= f.input :active %>
        <div class="field">
      <%= f.label :picture %><br />
      <%= f.file_field :picture %>
    </div>