<p>
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @instructor.proper_name %>
</p>
<p>
<strong>Phone:&nbsp;&nbsp;</strong> 
  <%= number_to_phone(@instructor.phone) %>
</p>
<p>
<strong>Email:&nbsp;&nbsp;</strong> 
  <%= mail_to @instructor.email, @instructor.email, encode: "javascript" %>
</p>
<p>
<strong>Active?&nbsp;&nbsp;</strong>
  <%= @instructor.active ? "Yes" : "No" %>
</p>
<p>
<strong>Biography</strong><br />
  <%= @instructor.bio.nil? ? "N/A" : @instructor.bio %>
  </p>