<% if @registration.camp_id.nil?%>
 <%end%>
<%= simple_form_for @registration, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
      <%= f.input :camp_id, :collection => Camp.upcoming.active.alphabetical, :include_blank => true %>
      <%= f.input :student_id, :collection => Student.below_rating(@registration.camp.curriculum.max_rating).at_or_above_rating(@registration.camp.curriculum.min_rating).active.alphabetical, :include_blank => true %>
      <%# f.input :student_id, :collection=>Student.active.alphabetical, :include_blank=>true %>
    	<%= f.input :payment_status,:collection=>%w[deposit full] %>
    	<%= f.input :points_earned %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
    </div>
  </fieldset>
<% end %>
