<%  if @registration.errors.any? %>
<div data-alert data-options="animation_speed:500, animation:'fadeOut';" class="alert-box warning radius">
    <a href="#" class="close">&times;</a>
<h3><%= pluralize(@registration.errors.count, "error")%> prohibited this registration from being saved:</h3>
      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
</div>
<% end %>


<%= simple_form_for @registration, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    
		<%= f.input :camp_id, :collection => Camp.active.alphabetical, :include_blank => true ,:selected => temp_id%>
		<%= f.input :student_id, :collection => Student.active.alphabetical, :include_blank => true %>
    	<%= f.input :payment_status %>
    	<%= f.input :points_earned %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
    </div>
  </fieldset>
<% end %>
