<div id ="pic1">
  <div class="row">
   <div class ="small-7 columns">
    <h1>Welcome back, <%= current_user.instructor.first_name%></h1>
    </div>
    <div class ="small-1 columns ends">
    </br>
      </br>
      <%=link_to image_tag('logout.png'), logout_path,id:"logout"%>
    </div>
  </div>
</div>
<div>
  <%= render :partial => "partials/flash" %>
</div>

</br>
<div class="row">
  <div class ="small-3 columns">
  </br>
    <% if current_user.instructor.picture_url.nil? %>
    <%= image_tag 'picture_placeholder.jpg' %>
    <%else %>
    <%= image_tag current_user.instructor.picture_url %>
    <%end%>
    </br>
  </br>
    <p>
      <strong>Phone:</strong> 
    </br>
        <%= number_to_phone(current_user.instructor.phone) %>
    </p>
    <p>
      <strong>Email:&nbsp;</strong> 
        <%= mail_to current_user.instructor.email, current_user.instructor.email, encode: "javascript" %>
    </p>

    <p>
      <strong>Biography</strong><br />
        <%= current_user.instructor.bio.nil? ? "N/A" : current_user.instructor.bio %>
      </p>
    <%= link_to 'Edit Profile ', edit_instructor_path(current_user.instructor),class:"button expand"%><% if logged_in? && current_user.role == "admin" %> 
    <%= link_to 'Financial Report', financial_path %>
    <%end%>
  </div>

  <div class ="small-9 columns">
  <div class="row">
    <div class ="small-12 columns">
    <h3>My Camps</h3>
      <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Time Slot</th>
        <th>Registration Number</th>
        <th>Location</th>
        <th>Average Rating</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.instructor.camps.each do |camp| %>
        <tr>
          <td><%= link_to camp.name,camp_path(camp) %></td>
          <td><%= camp.start_date.strftime('%m/%d/%y') %></td>
          <td><%= camp.end_date.strftime('%m/%d/%y') %></td>
          <td><%= camp.time_slot=="am" ? "Morning" : "Afternoon" %></td>
          <td><%= camp.registrations.count %></td>
          <td><%= link_to camp.location.name, location_path(camp.location) %></td>
          <td><%= (camp.students.map { |e| e.rating }.reduce(:+).to_f / camp.registrations.count).round(2)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<% if logged_in? && current_user.role == "admin" %>
<div class="row">
<div class="small-7 columns">
   <h3>Instructor Assignments</h3>
    <table>
      <thead>
        <th>Instructor</th>
        <th>Camps Assigned</th>
      </thead>
      <tbody>
        <% @instructors.each do |ins| %>
        <tr>
          <td><%=ins.name%></td>
          <td><% ins.camps.upcoming.active.alphabetical.each do |camp| %>
            <li>
            <%=link_to camp.name, camp_path(camp) %>
            (<%=camp.start_date.strftime('%m/%d/%y')%>)
            <li>
            <%end%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
  <div class="small-5 columns">
    <h3>Camp Registrations</h3>
    <table>
      <thead>
          <th>Camp</th>
          <th>Paid</th>
          <th>Deposit</th>
      </thead>
      <tbody>
        <% @camps.each do |camp| %>
        <tr>
          <td><%=link_to camp.name, camp_path(camp)%> 
          </br>(<%=camp.start_date.strftime('%m/%d/%y')%>)</td>
          <td><%=camp.registrations.paid.count%></td>
          <td><%=camp.registrations.deposit_only.count%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
<%end%>
