 <div id ="pic1">
  <div class="row">
   <div class ="small-8 colums">
     <h1>Financial Report for A&M Chess Camp</h1>
    </div>
  </div>
</div>
</br>
 <div class="row">
    <div class ="small-8 columns">
      <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount Received</th>
        <th>Amount Due</th>
      </tr>
    </thead>

    <tbody>
      <% Camp.alphabetical.each do |camp| %>
        <tr>
          <td><%= link_to camp.name,camp_path(camp) %> (<%= camp.start_date.strftime('%m/%d/%y') %>)</td>
          <td><%= camp.registrations.paid.count*camp.cost + camp.registrations.deposit_only.count* 50%></td>
          <td><%= camp.registrations.deposit_only.count*(camp.cost-50) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class ="small-4 columns">
  <h3>Total Payment Received: $<%=Camp.alphabetical.map { |e| e.registrations.paid.count*e.cost }.sum + Camp.alphabetical.map { |e| e.registrations.deposit_only.count*50 }.sum%></h3> 
  <h3 style="color:red;">Total Payment Due: $<%=Camp.alphabetical.map { |e| e.registrations.deposit_only.count*e.cost }.sum-Camp.alphabetical.map { |e| e.registrations.deposit_only.count*50 }.sum%></h3>
  <p>-------------------------------------------------------</p>
  <h2>Total: $<%=Camp.alphabetical.map { |e| e.registrations.count*e.cost}.sum%></h2>
</div>
</div>