<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "A&M Chess Camp" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  </head>
  

  
  <body>
    <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1 id="title"><%= link_to "A&M Chess Camp", home_path %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="active"><%=link_to "Camps", camps_path%></li>
          <li class="active"><%=link_to "Instructors", instructors_path%></li>
          <li class="active"><%=link_to "Curriculum", curriculums_path%></li>
      </section>
    </nav>
   </div>  
  <div class="contain-to-grid" id ="main_content">
      <!-- MAIN CONTENT GOES HERE -->
      <%= yield %>
      <%= javascript_include_tag "application" %>
  </div>

    <div class="small-1 columns">
        &nbsp;
    </div>  
  </div>

  </body>
   
      <div class="row">
        <div class="small-6 small-centered columns">
          <footer>
          <%= render partial: 'partials/footer' %>
          </footer> 
        </div>
      </div>    
</html>